@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;600&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

body{
  background-color: rgb(0, 212, 255);
  background: linear-gradient(45deg, rgb(0, 212, 255,1) 5%, rgb(12, 3, 45,1) 100%);
  background-image: url('../public/pic.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1222;
}
.container{
  backdrop-filter: blur(18px)  saturate(180%);     
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(71, 81, 95, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 38px;
  filter: drop-shadow(0 30px 11px rgba(117, 79, 79, 0.125));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.image-banner{
  width: 100%;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.225);
  border-radius: 12px;
  overflow: hidden;
}

img{
  width: 100%;
  height: auto;
}
h1{
  color: rgba(255, 255, 255, 0.98);
  font-size: 2.4rem;
  text-transform: uppercase;
  padding: 9px 0;
}

p{
  line-height: 150%;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}
.container .episode{
  font-weight: 500;
  padding: 9px 0;
  color: seashell;
}